# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
# Outputs
outputs/
# Data
data/

# Jupyter Notebook
*.ipynb_checkpoints

# Environment
venv/

src/runs/
src/models/